@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  width: 14rem;
  height: 12rem;
}

.title {
  font-size: 2rem;
  color: #333333;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.camera-name {
  font-size: 1.8rem;
  color: #333333;
  margin-bottom: 1rem;
  text-align: center;
}

.camera-feed {
  width: 400px;
  height: 300px;
  background-color: #dddddd;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.capture-button {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.form-container {
  flex: 1;
  margin-left: 2rem;
}

.form-title {
  font-size: 2.5rem;
  color: #333333;
  margin-bottom: 2rem;
  text-align: center;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1.5rem;
}

.start-test-button {
  display: flex;
  justify-content: center;
}

label {
  font-size: 1.2rem;
  color: #333333;
  display: block;
  margin-bottom: 0.5rem;
}

input,
select {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #dddddd;
  border-radius: 0.3rem;
}

.button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.secondary {
  background: none;
  color: black;
  border: 1px solid #333333;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #dddddd;
}

.footer-text {
  font-size: 1.2rem;
  color: #333333;
}

@media (max-width: 600px) {
  .title {
    font-size: 25px;
  }
  .header {
    flex-direction: column;
    margin-bottom: 0;
  }
  .main {
    margin-top: 0;
    flex-direction: column;
  }

  .camera-container,
  .form-container {
    box-shadow: none;
    background-color: #f8f8f8;
    margin-bottom: 2rem;
  }
  .footer-text {
    font-size: 0.98rem;
  }
}
